#todo-container {
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  #todo-form {
    display: flex;
    margin-bottom: 10px;
  }
  
  #todo-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  #todo-button {
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  body{
    height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img.img/16264441034336.jpg');
  }